.about-section{
    padding: 8rem;
    background-color:$grey-light-1;
}
.amenity-section{
    padding:8rem;
}
.testimonial-section{
    position: relative;
    padding:8rem;

}
.membership-section{
    padding:8rem;
}